body{
        background-color: lightblue;
    }
#title{
        color: white;
        background-color: darkblue;
        text-align: center;
    }
.container{
        display:flex;
    }
#map {
    width: 100%;      /* largeur du conteneur */
    height: 400px;    /* hauteur minimum */
    margin-top: 10px; /* optionnel, juste pour espacer */
    }